{% extends "anthology/base.html" %}
{% block content %}
<div class="container mt-4">
  <h4 class="mb-3">Processing & Access Logs</h4>

  <table class="table table-bordered table-striped">
    <thead class="table-light">
      <tr>
        <th>Date & Time</th>
        <th>Action</th>
        <th>Performed By</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
        <tr>
          <td>{{ log.timestamp }}</td>
          <td>{{ log.action }}</td>
          <td>{{ log.user }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="3" class="text-center">No logs available</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
